Q1. How do you comment code in Python? What are the different types of comments?

Ans :- single line comment - use hash #
       multi line comment - triple quotes '''

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans :- Variable is the name or reference given to data value. we can assign values to variables by using equql to = symbol.
       Memory is allocated with the variable name.

In [1]:
# Q2.examples-

_a = 51

a,b,c = 4, 7, 15

In [2]:
a

4

Q3. How do you convert one data type to another in Python?

Ans :- by using data type functions ex- int(), float(), str() etc.

In [9]:
# Q3. examples-

x = 121

type(x)

x = str(x)

type(x)

str

Q4. How do you write and execute a Python script from the command line?

Ans :- first open command prompt. type-  python<space>pythonfilename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
# Q5. Ans -

my_list = [1, 2, 3, 4, 5]

my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans :- comlex number consists of two terms separated by +/-. first one is real part and the second one is the imaginary part.

       ex - 5 + 6j, -2 + 7j, -9 - 8j etc.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Ans :- age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Ans :-  price = 9.99

        data type = float

In [11]:
# Q8. Ans-

price = 9.99

type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Ans :- name = 'Neelanshu'

       print(name)

In [12]:
# Q9. Ans-

name = 'Neelanshu'

print(name)

Neelanshu

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
# Q10. Ans:-

s = "Hello, World!"

s[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [16]:
# Q11. Ans:-

is_student = True

is_student

True