Assignment - 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# Q1.Ans

neel_1 = ['neelanshu', [2,3,4], 17.98, (5,6,7)]

In [2]:
neel_1

['neelanshu', [2, 3, 4], 17.98, (5, 6, 7)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

# Q2. Ans
(i) string
(ii) string
(iii) list
(iv) integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
#Q3 (i)

13/2  #(i)division

6.5

In [4]:
#Q3 (ii)

13%2  # (ii)remainder

1

In [5]:
#Q3 (iii)

13//2  #(iii) whole number quotient

6

In [7]:
#Q3 (iv)

2**5  #(iv) exponents

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
#Q4. Ans

l1 = [10,20,30,40,50,60,"neel",137.924867, [1,3,8,9], 'deep']

for i in l1:
    print(i)
    print(type(i))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
40
<class 'int'>
50
<class 'int'>
60
<class 'int'>
neel
<class 'str'>
137.924867
<class 'float'>
[1, 3, 8, 9]
<class 'list'>
deep
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [37]:
#Q5. Ans

A = 100
B = 1
l = []
while A > B:
    if A % B == 0:
        #print(i)
        l.append(B)
    B = B + 1
    
#print(l)
print(len(l))

8

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [35]:
#Q6. Ans

list1 =list(range(101, 126))

In [36]:
print(list1)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125]

In [39]:
for i in list1:
    if i % 3 == 0:
        print(i)
        print("divisible by 3")
        
    else:
        print(i)
        print("not divisible by 3")

101
not divisible by 3
102
divisible by 3
103
not divisible by 3
104
not divisible by 3
105
divisible by 3
106
not divisible by 3
107
not divisible by 3
108
divisible by 3
109
not divisible by 3
110
not divisible by 3
111
divisible by 3
112
not divisible by 3
113
not divisible by 3
114
divisible by 3
115
not divisible by 3
116
not divisible by 3
117
divisible by 3
118
not divisible by 3
119
not divisible by 3
120
divisible by 3
121
not divisible by 3
122
not divisible by 3
123
divisible by 3
124
not divisible by 3
125
not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable data types - whose internal state can be changed. ex - list etc
immutable data types - whose internal elements cannot be changed. ex - string etc

In [40]:
#Q7. Ans

a = [89,'nishu',12.3]     #list

a[1] = 'dipu'

print(a)          # mutable

[89, 'dipu', 12.3]

In [41]:
b = "neelanshu"

b[0] = 'd'

print(b)   # immutable

TypeError: 'str' object does not support item assignment